body {
    background-color:#EDF7F6 ;
    font-family: "Inter", sans-serif;
}

#nav {
    background-color: #6B9080;
    padding: 10px;
    position: relative;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

.nav-links a {
    color: #EDF7F6;
    font-size: larger;
    text-decoration: none;
    padding: 10px;
}

.nav-bar{
    font-size: 30px;
    background: none;
    border: none;
    color: #EDF7F6;
    cursor: pointer;
    display: none; 
}

a:active .nav-links{
    color: #CCA43B;
}

h1, h2, h3 {
    text-align: center;
    color: #6D4C3D;
    font-family: "Playfair Display", serif;
}

.state {
    align-content: center;
    fill: #6B9080;
    stroke: #001514;
}

.state:hover {
    fill: #CCA43B;
    cursor: pointer;
}

.state:active {
fill: #6D4C3D;
}

.map-wrapper {
    display: flex;
    width:100%;
    margin-top: 2px;
    justify-content: center;
}

/*.info-box {

} */

.holder {
    display: flex;
    gap: 20px;
    padding: 20px;
}

p {
    color: #001514;
    padding: 1%;
    line-height: 2.4;
}


@media (max-width:700px) {
    .holder{
        flex-direction: column;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    /*#infoBox {
        position: relative;
        top: 0;
        right: 0;
        width: 100%;
        margin-top: 15px;
    } */

    .nav-bar {
        display: block;
        font-size: 30px;
        border: none;
        color: #6B9080;
    }
    .state {
        align-content: center;
        fill: #6B9080;
        stroke: #001514;
    }

    #nav.active .nav-links {
        display: flex;
        background-color: #6B9080;
        align-items: flex-start;
    }
}