body {
    background-color:#EDF7F6 ;
    font-family: "Inter", sans-serif;
}

p {
    color: #001514;
    padding: 1%;
    line-height: 2.4;
}

#nav {
    background-color: #6B9080;
    padding: 10px;
    position: relative;
}

.nav-links {
    display: flex;
    justify-content: space-evenly;
}

.nav-links a {
    color: #EDF7F6;
    font-size: larger;
    text-decoration: none;
    padding: 10px;
}

.nav-bar{
    font-size: 30px;
    background: none;
    border: none;
    color: #EDF7F6;
    cursor: pointer;
    display: none; 
}

a:active .nav-links{
    color: #CCA43B;
}

h1, h2, h3 {
    text-align: center;
    color: #6D4C3D;
    font-family: "Playfair Display", serif;
}

.state {
    fill: #6B9080;
    stroke: #001514;
    /*width: 744px;
    height: auto ;*/
}

.state:hover {
    fill: #CCA43B;
    cursor: pointer;
}

.state:active {
fill: #6D4C3D;
}

.map-wrapper {
    display: flex;
    margin-top: 2px;
    justify-content: center;
}

/*.info-box {

} 

.holder {
    display: flex;
    gap: 20px;
    padding: 20px;
} */

.flag {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.flag svg {
    width: 400px;          
    height: auto;
    flex-shrink: 0;       
}

.flag p {
    max-width: 1500px;      
}

.an1 {
    display: flex;
    justify-content: center;
}

.an2 {
    display: flex;
    justify-content: center;
}

.st0{fill:#D7DE27;}
.st1{fill:#FFFFFF;}
.st2{fill:#D1CDB2;}
.st3{fill:#ADA893;}
.st4{fill:#01903C;}
.st5{fill:#E4AA24;} 
.st6{fill:#C82C20;}
.st7{fill:#252118;}

.arms {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.arms svg {
    width: 400px;          
    height: auto;
    flex-shrink: 0;       
}

.arms p {
    max-width: 1500px;      
}

#specialP {
    text-align: center;
}

#specialH {
    text-align: left;
    margin: 0;
}

#onPage {
    border-style: groove;
}

#pres {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

#pres img {
    width: 400px;          
    height: auto;
    flex-shrink: 0;       
}

#pres p {
    max-width: 1500px;      
}

/*@media (max-width:700px) {
    .holder{
        flex-direction: column;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
    }

    #infoBox {
        position: relative;
        width: 100%;
        margin-top: 15px;
    } 

    .nav-bar {
        display: block;
        font-size: 30px;
        border: none;
        color: #6B9080;
    }
    
    #nav.active .nav-links {
        display: flex;
        background-color: #6B9080;
        align-items: flex-start;
    }
}
    */